.wrapper {
    font-family: sans-serif;
    margin: 20% auto 0;
    text-align: center;
}

.links {
   list-style: none;
   padding-left: 0;
}

.links li {
    display: inline-block;
}

.links a {
    display: block;
    padding: 10px 15px;
}