@import './mixins';

// TODO: split this file up!!

$gray: #808080;

$navItemBaseBackgroundColor: desaturate(#8aa8c3, 15%);
$columnDesaturationDelta: 5%;
$columnLightnessDelta: 4%;
$rowDarknessDelta: 5%;
$rowSaturationDelta: 2%;

$writingNavItemBackgroundColor: $navItemBaseBackgroundColor;
$codeNavItemBackgroundColor: desaturate(lighten($writingNavItemBackgroundColor, $columnLightnessDelta), $columnDesaturationDelta);
$editNavItemBackgroundColor: desaturate(lighten($codeNavItemBackgroundColor, $columnLightnessDelta), $columnDesaturationDelta);
$twitterNavItemBackgroundColor: darken(saturate($writingNavItemBackgroundColor, $rowSaturationDelta), $rowDarknessDelta);
$emailNavItemBackgroundColor: darken(saturate($codeNavItemBackgroundColor, $rowSaturationDelta), $rowDarknessDelta);
$linkedInNavItemBackgroundColor: darken(saturate($editNavItemBackgroundColor, $rowSaturationDelta), $rowDarknessDelta);

$minWidthToShowTitleInline: 42rem;
$minWidthToShowNavigationItemsInline: 45rem;
$minWidthToShowAllHeaderItemsInline: 59rem;
$minWidthToShowAllHeaderItemsInlineWithLargerText: 61rem;

$postsPadding: 2rem;

body {
  background: #ECECEC;
  // color: #464646;
  color: #333;
  padding-top: 2rem;
}

.wrapper {
  max-width: 60rem;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  background: #ECECEC;

  @media(min-width: $minWidthToShowAllHeaderItemsInline) {
    flex-wrap: nowrap;
  }
}

.site-title {
  margin: 0;
  text-align: center;
  transition: 0.25s opacity ease-in;
  min-width: 100%;
  max-width: 6rem; // Needed for IE

  @media(min-width: $minWidthToShowTitleInline) {
    min-width: 0;
    flex: 1;
  }

  @media(min-width: $minWidthToShowAllHeaderItemsInline) {
    flex: initial;
  }

  &:hover {
    opacity: 0.9;
  }
}

.site-link {
  display: inline-block;
  background: url(~/static/images/icons/Logo.png) left center no-repeat; // TODO
  background-size: 5.99rem; // Would have 6rem here but Opera cuts off the bottom then... weird :/
  height: 9rem;
  width: 6rem;
  margin: 0 auto;
  text-indent: -9999px;

  @include high-dpi-only {
    background-image: url(~/static/images/icons/Logo@2x.png);
  }
}

.site-happy-text-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%; // weirdly needed for Opera
  align-items: center;
  font-size: 1.3rem;

  @media(min-width: $minWidthToShowTitleInline) {
    flex: 2;
    padding: 0 0 0 2rem;
  }

  @media(min-width: $minWidthToShowAllHeaderItemsInline) {
    flex: 1;
    font-size: 1.2rem;
  }

  @media(min-width: $minWidthToShowAllHeaderItemsInlineWithLargerText) {
    font-size: 1.3rem;
  }
}

.site-happy-text {
  flex: 1;
  margin: 0;
  text-align: center;

  @media(min-width: $minWidthToShowTitleInline) {
    text-align: left;
  }
}

.site-happy-text-headline {
  display: block;
  font-size: 1.9rem;
  font-weight: 700;

  .wf-active & {
    font-size: 1.9rem;
    font-weight: 700;
  }

  @media(min-width: 25rem) {
    font-size: 2.3rem;
    line-height: 1.7;

    .wf-active & {
      line-height: 1.5;
      font-size: 2.5rem;
    }
  }

  @media(min-width: $minWidthToShowAllHeaderItemsInline) {
    font-size: 2.9rem;

    .wf-active & {
      font-size: 3.1rem;
    }
  }

  @media(min-width: $minWidthToShowAllHeaderItemsInlineWithLargerText) {
    font-size: 2.92rem;
    line-height: 1.7;

    .wf-active & {
      line-height: 1.5;
      font-size: 3.2rem;
    }
  }
}

.site-happy-text-tagline {
  display: inline;

  @media(min-width: $minWidthToShowTitleInline) {
    display: block;
  }
}

.navigation-wrapper {
  display: flex;
  padding: 2rem 0 0 0;
  align-items: center;
  user-select: none;
  width: 100%;

  @media(min-width: $minWidthToShowAllHeaderItemsInline) {
    max-width: 23rem;
    padding: 0 0 0 2rem;
  }
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  width: 100%;

  @media(min-width: $minWidthToShowAllHeaderItemsInline) {
    flex: 1 1 100%;
    min-width: 0;
  }
}

.navigation-item {
  // Why is the 33% in the flex rule needed? See https://twitter.com/lynchy010/status/632544355245539328
  // or https://github.com/philipwalton/flexbugs#11-min-and-max-size-declarations-are-ignored-when-wrapping-flex-items
  flex: 1 1 33%;
  min-width: 33%;

  display: flex;

  position: relative;
  cursor: pointer; // needed for .navigation-link:after

  font-size: 0.7rem;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

  @media(min-width: 25rem) {
    font-size: 0.75rem;
  }

  @media(min-width: $minWidthToShowNavigationItemsInline) {
    min-width: 0; // show all on one line
    flex: 1;
  }

  @media(min-width: $minWidthToShowAllHeaderItemsInline) {
    flex: 0 1 auto;
    min-width: 33%;
  }
}

@mixin navigation-item-background($baseBackgroundColor) {
  background: fade-out($baseBackgroundColor, 0.1);
  transition: 0.25s background-color;

  &:hover {
    background: darken($baseBackgroundColor, 5%);
  }
}

.writing-navigation-item {
  @include navigation-item-background($writingNavItemBackgroundColor);
}

.edit-navigation-item {
  @include navigation-item-background($editNavItemBackgroundColor);
}

.code-navigation-item {
  @include navigation-item-background($codeNavItemBackgroundColor);
}

.twitter-navigation-item {
  @include navigation-item-background($twitterNavItemBackgroundColor);
}

.email-navigation-item {
  @include navigation-item-background($emailNavItemBackgroundColor);
}

.linkedin-navigation-item {
  @include navigation-item-background($linkedInNavItemBackgroundColor);
}


.navigation-link {
  flex: 1;

  display: flex;
  align-items: center;
  padding: 1rem;

  text-decoration: none;
  color: #f5f5f5;
  font-size: 0.8rem;

  transition: 0.25s color;

  @media(min-width: 25rem) {
    padding: 1.5rem;
  }

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    bottom: 0;
    right: 0;

    height: 0;
    width: 100%;

    background: #000;
    opacity: 0.02;
    cursor: pointer;
    transition: 0.2s all ease-out;
  }

  &:hover {
    color: #fff;
    &:after {
      top: 50%;
      height: 50%;
    }
  }
}

.navigation-item-text {
  flex: 1;
}

.posts {
  padding: $postsPadding;
}

.post-wrapper {
  padding-bottom: $postsPadding;

  &:last-child {
    padding-bottom: 0;
  }
}

.post {
  padding: $postsPadding;
  margin: $postsPadding;
  background: #fff;
  max-width: 60rem;

  .posts & {
    margin: 0 auto;
  }

  > *:first-child {
    margin-top: 0;
  }
}

// TODO: move
.post-content {
  font-size: 1.1rem;
  line-height: 1.55;

  > * {
    margin: 1.5rem 0 0;
  }

  :not(figure) > a {
    color: #3f729e; // TODO: var?
    padding-bottom: 0.05rem;

    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    background-repeat: no-repeat;
    background-size: 100% 1.5px;
    background-position: center bottom 10%;
    background-origin: padding-box;
    text-shadow: 3px 0 #fff, 2px 0 #fff, 1px 0 #fff, -1px 0 #fff, -2px 0 #fff, -3px 0 #fff;

    transition: 0.25s color;

    &:hover {
      color: darken(#3f729e, 20%);
    }
  }

  blockquote {
    position: relative;
    font-size: 1.3rem;
    font-size: 1.57rem;
    font-style: italic;
    font-weight: 100;
    padding-left: 2rem;
    line-height: 1.48;
    margin-top: 2rem;

    &::before {
      content: '\201C';
      position: absolute;
      top: -1.5rem;
      left: -0.5rem;
      height: 3rem;
      width: 25px;
      color: #f5f5f5;
      font-size: 6rem;
      font-style: normal;
      line-height: 1;
    }

    footer {
      margin-top: 1rem;
      font-size: 0.9rem;
      text-align: right;
    }

    cite {
      display: inline-block;
      margin-left: 0.5rem;
    }
  }

  figure {
    text-align: center;
  }

  figcaption {
    color: #666;
    font-size: 0.9rem;
    font-style: italic;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;

    // for broken images:
    min-height: 50px;
    min-width: 150px;
    position: relative;
    color: rgb(182, 182, 182);
    font-size: 0.9rem;
    text-align: center;

    &:before {
      content: "Image failed to load :/";
      display: block;
      font-size: 0.95rem;
    }
  }

  pre,
  code {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    text-shadow: 0 1px #fff;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    font-variant-ligatures: none;
    word-wrap: normal;
    hyphens: none;
  }

  pre,
  :not(h3):not(h4):not(h5):not(h6) > code {
    font-size: 0.85rem;
  }

  // blockquote,
  pre,
  :not(pre)>code {
    background: #f5f5f5;
  }

  pre {
    padding: 1rem;
    overflow: auto;
    color: #000;
  }

  :not(pre)>code {
    display: inline-block;
    padding: 0 0.2725rem;
    white-space: normal;
  }

  a code {
    background: initial;
    // background: lighten(#f5f5f5, 0%);

    // background-image: linear-gradient(#869bad, #869bad);
    // background-repeat: no-repeat;
    // background-size: 100% 1.5px;
    // background-position: center bottom 15%;
    // background-origin: padding-box;

    // border-bottom: 1px solid rgba(0,0,0,0.2);
    font-size: 0.98rem;
    padding: initial;
    // color: black;
    // color: #53687a;
  }

  p:first-child {
    margin-top: 0;
  }

  h3 {
    font-size: 1.62500rem;
  }

  h4 {
    font-size: 1.389rem;
  }

  h5 {
    font-size: 1.153rem;
  }

  h6 {
    font-size: 0.931rem;
  }

  .post-header-anchor {
    position: absolute;
    left: -$postsPadding;
    top: 20px;
    width: $postsPadding;
    transform: translate(0, -50%);
    background: none;
    text-align: center;
    line-height: 1;
    text-shadow: none;
    transition: opacity 0.25s ease-in-out;

    &:focus {
      outline: none; // shameful but keyboard users aren't going to use this anchor anyway
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }

    &::after {
      content: ' copied';
      position: absolute;
      bottom: -14px;
      left: 0;
      right: 0;
      font-size: 0.6em;
      color: lighten(#000, 50%);
      opacity: 0;
      visibility: none;
      transition: opacity 2s;
    }

    svg {
      opacity: 0.2;
    }
  }

  h4 .post-header-anchor {
    top: 18px;
  }

  h5 .post-header-anchor {
    top: 16px;
  }

  h6 .post-header-anchor {
    top: 14px;
  }

  .post-header-anchor--copied {
    &::after {
      opacity: 1;
    }
  }

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    position: relative;

    & + p {
      margin-top: 0.5rem;
    }
  }

  p + h3,
  p + h4,
  p + h5,
  p + h6 {
    margin-top: 2rem;
  }

  ul,
  ol {
    padding-left: 1.25em;
    list-style: initial;
  }

  li {
    margin-bottom: 0.5rem;
  }

  // So the read more link doesn't break onto newline
  .post-summary & {
    &,
    & > * {
      display: inline;
    }
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  td,
  th {
    padding: 0;
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  th {
    font-weight: 600;
    text-align: left;
  }
}

.post-title-wrapper {
  margin: 0;
}

.post-title {
  line-height: 1.4;
  font-size: 1.4rem;
  font-weight: 700;

  .wf-active & {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  @media(min-width: 30rem) {
    line-height: 1.6;
    font-size: 1.85rem;

    .wf-active & {
      line-height: 1.5;
      font-size: 2rem;
    }
  }
}

.post-title-label {
  display: inline-block;
  position: relative;
  bottom: 0.3em;
  padding: 0.2em 0.4em;
  margin-left: 0.3em;
  font-size: 0.5em;
  background: #E3E3E3;
  color: #9E9E9E;
  border-radius: 5%;
  font-weight: normal;
  transition: 0.25s opacity ease-in;

  .post-title:hover & {
    opacity: 0.9;
  }
}

.post-title-label-parenthesis {
  display: none;
}

.post-meta {
  font-size: 0.9rem;
  margin: 1rem 0;
  color: #A2A2A2;

  @include high-dpi-only {
    color: #000;
    font-weight: 300;
  }
}

.post-blog-date {
  display: block;
  margin-top: 0.5rem;

  @media(min-width: 30rem) {
    display: inline;
    margin-top: 0;

    & + .post-blog-title {
      &:before {
        display: inline-block;
        content: " — ";
        margin: 0 0.25rem 0 0.5rem;
      }
    }
  }
}

.post-blog-link {
  font-weight: initial;
  font-style: italic;
}

.post-title,
.post-blog-link,
.post-read-more-link,
.site-happy-text-headline-link,
.site-happy-text-tagline-link,
.footer-link {
  transition: 0.25s color;

  &:hover {
    color: $twitterNavItemBackgroundColor;
  }
}

.post-title,
.post-read-more-link,
.site-happy-text-tagline-link,
.footer-link {
  color: darken($twitterNavItemBackgroundColor, 20%);
}

.post-read-more-link {
  display: inline-block;
  font-weight: 700;
  margin: 0;
}

.post-comments {
  margin: 2rem;
  padding: 2rem;
  background: #fff;
}

.footer {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.footer-text {
  margin: 0;
}

.footer-link {
  font-weight: 700;
}

.copyright {
  display: block;
  color: $gray;

  @include high-dpi-only {
    font-weight: 100;
  }
}

.fix-bug-ignore {
  color: red;
}

.posts {
  position: relative;
}

.post-wrapper {
  transition: padding 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.post {
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.posts--entering-post {
  .post-wrapper:not(.post-wrapper--entering-from-posts) {
    .post {
      opacity: 0.2;
      transform: scale(0.8);
    }
  }

  .post-wrapper--entering-from-posts {
    left: $postsPadding;
    right: $postsPadding;
  }
}

.post-skeleton {
  line-height: 1.55;
  position: relative;
  opacity: 0;
  max-height: 0;
  overflow: hidden;

  &.post-skeleton--visible,
  .post-wrapper--entering-from-posts & {
    opacity: 1;
    margin-top: 2rem;
    max-height: initial;
  }

  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: 0.2;
    animation: 1s skeleton infinite ease-in-out;
  }
}

.post-skeleton-word {
  height: 1.1rem;
  background: #f7f7f7;
  width: 46px;
  display: inline-block;
  margin: 4px 6px 0 0;

  &:nth-child(2n){
    width: 36px;
  }

  &:nth-child(3n){
    width: 76px;

    .post-skeleton + .post-skeleton & {
      width: 71px;
    }
  }

  &:nth-child(5n){
    width: 96px;
  }

  &:nth-child(6n){
    width: 63px;
  }

  &:nth-child(7n){
    width: 26px;
  }
}

@keyframes skeleton {
  0% {
    transform: translate3d(-100%, 0, 0)
  }

  98% {
    transform: translate3d(100%, 0, 0)
  }

  99% {
    transform: translate3d(100%, 100%, 0)
  }

  100% {
    transform: translate3d(-100%, 0, 0)
  }
}
