{#
    args - {Object}
        :githubAccountURL - {String}
        :mainTemplateURL - {string}
#}
{% macro navigation(args) %}
    <nav role="navigation" class="navigation-wrapper">
        <ul class="navigation">
            {{ navigationItem({
                text: 'Code',
                href: args.githubAccountURL,
                specificClasses: 'code-navigation-item',
                shouldTrackClicks: true
            })}}

            {{ navigationItem({
                text: 'Writing',
                href: '#writing',
                specificClasses: 'writing-navigation-item',
                shouldTrackClicks: false
            })}}

            {{ navigationItem({
                text: 'Edit page',
                href: args.mainTemplateURL,
                specificClasses: 'edit-navigation-item',
                shouldTrackClicks: true
            })}}

            {{ navigationItem({
                text: 'Twitter',
                href: '//twitter.com/lynchy010/',
                specificClasses: 'twitter-navigation-item',
                shouldTrackClicks: true
            })}}

            {{ navigationItem({
                text: 'Email',
                href: 'mailto:contact@adamlynch.com',
                specificClasses: 'email-navigation-item',
                shouldTrackClicks: true
            })}}

            {{ navigationItem({
                text: 'RSS',
                href: 'writing/rss.xml',
                specificClasses: 'rss-navigation-item',
                shouldTrackClicks: false
            })}}
        </ul>
    </nav>
{% endmacro %}




{#
    args - {Object}
        :text - {String}
        :href - {String}
        :specificClasses - {String}
        :shouldTrackClicks - {Boolean}
#}
{% macro navigationItem(args) %}
    <li class="navigation-item{% if args.specificClasses %} {{ args.specificClasses }}{% endif %}">
        <a href="{{ args.href }}" class="navigation-link{% if args.shouldTrackClicks %} js_track-link-clicks{% endif %}">
            <span class="navigation-item-text">{{ args.text }}</span>
        </a>
    </li>
{% endmacro %}