{% from 'head.nunjucks.html' import head as head %}
{% from 'header.nunjucks.html' import header as header %}
{% from 'footer.nunjucks.html' import footer as footer %}
{% from 'posts.nunjucks.html' import posts as posts %}
{% from 'scripts.nunjucks.html' import scripts as scripts %}

<!DOCTYPE html>
<html>

    {{ head({
        title: 'Adam Lynch',
        author: 'Adam Lynch',
        description: 'Adam Lynch',
        stylesheets: ['styles/index.css']
    })}}

    <body>

        <div class="wrapper">
            {{ header(site) }}

            <main class="content">
                {{ posts(site.posts) }}
            </main>

            {{ footer(site) }}
        </div>

        {{ scripts([{url: 'scripts/index.js'}]) }}

    </body>
</html>