<!DOCTYPE html>
<html>
{% from 'head.swig.html' import head as head %}
{{ head({
    title: 'Adam Lynch',
    author: 'Adam Lynch',
    description: 'Adam Lynch',
    stylesheets: ['styles/index.css']
})}}
<body>
    <div class="wrapper">
        {{ content | safe }}

        {#
        {% from 'pattern.swig.html' import pattern as pattern %}

        {{ pattern({
            pattern: '<h1>Example heading</h1>'
        })}}

        {{ pattern({
            pattern: '## Example sub-heading',
            language: 'markdown'
        })}}
        #}

    </div>
</body>
</html>