<!DOCTYPE html>
<html>
{% include './head.swig.html' with {
    title: 'Adam Lynch',
    author: 'Adam Lynch',
    description: 'Adam Lynch',
    stylesheets: ['styles/index.css']
} only %}
<body>
    <div class="wrapper">
        {{ content | safe }}

        {% include 'pattern.swig.html' with {
            pattern: '<h1>Example heading</h1>'
        } only %}

        {% include 'pattern.swig.html' with {
            pattern: '## Example sub-heading',
            language: 'markdown'
        } only %}
    </div>
</body>
</html>