{#
    Arguments:
    pattern - {String}
    language - Optional {String}; `html`, `markdown`, etc. Defaults to `html`
#}
{% if not language.length %}
    {% set language = 'html' %}
{% endif %}

{# show two code blocks for markdown; one for markdown, one for the resultant html #}
{% if language == 'markdown' %}

{% set html = pattern | markdown %}

{{ html | safe }}

{% include 'codeBlock.swig.html' with {
    code: pattern,
    language: language
} only %}

{% include 'codeBlock.swig.html' with {
    code: html,
    language: 'html'
} only %}

{% else %}

{{ pattern | safe }}

{% include 'codeBlock.swig.html' with {
    code: pattern,
    language: language
} only %}

{% endif %}