{#
    args - {Obejct}
        :pattern - {String}
        :language - Optional {String}; `html`, `markdown`, etc. Defaults to `html`
#}
{% macro pattern(args) %}
    {% from 'codeBlock.nunjucks.html' import codeBlock as codeBlock %}
    {% set pattern = args.pattern %}
    {% set language = args.language or 'html' %}

    {# show two code blocks for markdown; one for markdown, one for the resultant html #}
    {% if args.language == 'markdown' %}

    {% set html = pattern | markdown %}

    {{ html | safe }}

    {{ codeBlock({
    code: pattern,
    language: language
    })}}

    {{ codeBlock({
    code: html,
    language: 'html'
    })}}

    {% else %}

    {{ pattern | safe }}

    {{ codeBlock({
    code: pattern,
    language: language
    })}}

    {% endif %}

{% endmacro %}