{#
    listOfPosts - {Array} of {Object}s
#}
{% macro posts(listOfPosts) %}
    <ol class="posts" id="writing">
        {% for postItem in listOfPosts %}
        <li class="post-wrapper">
            {{ post(postItem) }}
        </li>
        {% endfor %}
    </ol>
{% endmacro %}



{#
    args - {Object}
        :url - {String}
        :title - {String}
        :summary - {String}
        :prettyDateTime - {String}
        :blogLink - {String}
        :blogTitle - {String}
        :isBook - {Boolean}
#}
{% macro post(args) %}
    <article class="post">
        {{ title(args) }}
        {{ meta(args) }}
        {{ summary(args) }}
    </article>
{% endmacro %}



{#
    args - {Object}
        :title - {String}
        :url - {String}
        :isBook - {Boolean}
#}
{% macro title(args) %}
    <h3 class="post-title-wrapper">
        <a href="{{ args.url }}" class="post-title js_track-link-clicks">{{ args.title }}{% if args.isBook %} <span class="post-title-label"><span class="post-title-label-parenthesis">(</span>Book<span class="post-title-label-parenthesis">)</span></span>{% endif %}</a>
    </h3>
{% endmacro %}



{#
    args - {Object}
        :blogLink - {String}
        :blogTitle - {String}
        :prettyDateTime - {String}
#}
{% macro meta(args) %}
    <div class="post-meta">
        <strong class="post-blog-title">
            <a href="{{ args.blogLink }}" class="post-blog-link js_track-link-clicks">
                {{ args.blogTitle }}
            </a>
        </strong>
        <time class="post-blog-date">{{ args.prettyDateTime }}</time>
    </div>
{% endmacro %}



{#
    args - {Object}
        :summary - {String}
        :url - {String}
        :isBook - {Boolean}
#}
{% macro summary(args) %}
    <div class="post-summary">{{ args.summary }}&nbsp;&nbsp;
        <a href="{{ args.url }}" class="post-read-more-link js_track-link-clicks">{% if args.isBook %}Get the book{% else %}Read more{% endif %}</a>
    </div>
{% endmacro %}