/* See real source code at https://github.com/adam-lynch/adam-lynch.github.io/tree/master/styles/source */

.footer {
  text-transform: uppercase;
}

.site-title:hover {
  opacity: .9;
}

.site-link {
  display: inline-block;
  background: url(../images/Logo.png) left center no-repeat;
  background-size: 5.99rem;
  height: 9rem;
  width: 6rem;
  margin: 0 auto;
  text-indent: -9999px;
}

.site-link .high-dpi-only {
  background-image: url(../images/Logo@2x.png);
}

.navigation,
.navigation-item {
  display: -webkit-flex;
  display: -ms-flexbox;
}

.writing-navigation-item:hover {
  background: #99a5af;
}

.edit-navigation-item:hover {
  background: #a8aeb4;
}

.code-navigation-item:hover {
  background: #889bab;
}

.twitter-navigation-item:hover {
  background: #778ea3;
}

.email-navigation-item:hover {
  background: #8898a6;
}

.rss-navigation-item:hover {
  background: #99a2aa;
}

.navigation-link:hover {
  color: #fff;
}

.navigation-link:hover:after {
  top: 50%;
  height: 50%;
}

 {
  padding: 2rem;
}

.post-wrapper:last-child {
  padding-bottom: 0;
}

.post {
  padding: 2rem;
  margin: 0 auto;
  background: #fff;
  max-width: 60rem;
  border-left: 3px solid #a7b1ba;
}

.post-blog-date .high-dpi-only {
  color: #000;
  font-weight: 300;
}

.footer-link,
.post-blog-title .high-dpi-only {
  font-weight: 700;
}

.footer-link {
  transition: .25s color;
}

.footer-link:hover,
.post-blog-link:hover,
.post-read-more-link:hover,
.post-title:hover,
.site-happy-text-headline-link:hover,
.site-happy-text-tagline-link:hover {
  color: #869bad;
}

.footer-link {
  color: #53687a;
}

.footer {
  text-align: center;
  font-size: .8rem;
  margin-bottom: 2rem;
}

.footer-text {
  margin: 0;
}

.copyright {
  display: block;
  color: grey;
}

.copyright .high-dpi-only {
  font-weight: 100;
}

.fix-bug-ignore {
  color: red;
}
